<div class="bg-white">
    <header class="absolute inset-x-0 top-0 z-50">
      <nav class="flex items-center justify-between mt-8 ml-8 mr-8 mb-3" aria-label="Global">
        
        <div class="flex gap-x-12 items-center">
          <img class="h-16 w-auto" src="https://cdn-icons-png.flaticon.com/512/1997/1997323.png" alt="">
          <a href="{% url 'statements' %}" class="text-sm font-semibold leading-6 text-gray-900">Жалобы</a>
          {% if request.user.is_authenticated%} 
              <a href="{% url 'home' %}" class="text-sm font-semibold leading-6 text-gray-900">Подача жалобы</a>
          {% else %}
              <a href="{% url 'login' %}" class="text-sm font-semibold leading-6 text-gray-900">Подача жалобы</a>
          {% endif %}
          <span class="text-sm font-semibold leading-6 text-green-600">{{request.user.username}}</span>
        </div>
        
        <div class="flex flex-col gap-y-2">
          {% load static %}
          {% if request.user.is_authenticated %}
              <div class="flex items-center gap-x-2">
                <img class="h-6 w-auto "src="{% static 'images/logout.png' %}" alt="">
                <a href="{% url 'logout' %}" class="text-sm font-semibold leading-6 text-gray-900">Выйти из аккаунта</a>
              </div>
          {% else %}
              <div class="flex items-center gap-x-2">
                <img class="h-6 w-auto" src="{% static 'images/login.png' %}" alt="">
                <a href="{% url 'login' %}" class="text-sm font-semibold leading-6 text-gray-900">Войти в аккаунт</a>
              </div>
              <div class="flex items-center gap-x-2">
                <img class="h-6 w-auto" src="{% static 'images/register.png' %}" alt="">
                <a href="{% url 'register' %}" class="text-sm font-semibold leading-6 text-gray-900">Регистрация</a>
              </div>
          {% endif %}
        </div>
        
      </nav>
      <hr>
    </header>